<% include ../partials/header.ejs %>
<% include ../partials/navbar-restaurant.ejs %>

<div class="container">
<h1>Menu</h1>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 m2"><a class="active" href="#inbox">Inbox</a></li>
                <li class="tab col s3 m2"><a href="#unread">Unread</a></li>
                <li class="tab col s3 m2"><a href="#sent">Sent</a></li>
            </ul>
        </div>
        <div id="inbox" class="col s12">Inbox</div>
        <div id="unread" class="col s12">Unread</div>
        <div id="sent" class="col s12">Sent</div>
    </div>
</div>

<% include ../partials/footer.ejs %>
