<% include ../partials/header.ejs %>
<% include ../partials/navbar-restaurant.ejs %>

<div class="main">
<h1>Tables</h1>

<ul class="table-list">
    <!-- for each table, render a table-list-item which contains the number as well as a list of orders for the current occupants -->
</ul>

<% include ../partials/footer.ejs %>
