<nav>
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/admin/tables">
                    <i class="fa fa-table fa-2x" aria-hidden="true"></i>
                    Tischübersicht
                </a></li>
            <li><a href="/admin/tableQrCodes">
                    <i class="fa fa-qrcode fa-2x" aria-hidden="true"></i>
                    QR-Code Tischübersicht
                </a></li>
            <li><a href="/admin/food">
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    Menü Übersicht
                </a></li>
        </ul>
        <ul id="nav-logout" class="right hide-on-med-and-down">
            <li><a href="/admin/logout">
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    Logout
                </a></li>
        </ul>
    </div>
</nav>
