<nav>
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/tables">Tables</a></li>
            <li><a href="/admin/food">Menu</a></li>
        </ul>
    </div>
</nav>
