<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">XCuseMe</a>
      <a href="#" class="brand-logo center">Platz <%=l%></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">

        <li id="btn_order"><a href="#"><i class="material-icons">shopping_cart</i></a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li id="btn_lucky"><a href="#"><i class="material-icons">shopping_basket</i> Spaßtüte</a></li>
        <li id="btn_random"><a href="#"><i class="fa fa-2x fa-gift" aria-hidden="true"></i> Überrasche mich!</a></li>
        <li id="btn_reset"><a href="#"><i class="fa fa-2x fa-repeat" aria-hidden="true"></i> Auswahl zurücksetzen</a></li>
        <a href="#" data-activates="slide-out" class="button-collapse nodisplay"><i class="material-icons">menu</i></a>
      </ul>
    </div>
</nav>
