<% include partials/header.ejs %>

<div class="container">
<ul class="collection table-list" style="border: none; margin: 30vh auto;">
    <h3 style="text-align: center; margin-bottom: 50px;">404 - Page not found!</h3>
        <p style="text-align: center;">
            The page you are looking for could not be found.
        </p>
        <p style="text-align: center;">
            If you are in a restaurant and wanting to order, scan in the QR Code at your table and you will be redirected to the correct page.
        </p>
    </li>
</ul>
</div>

<% include partials/footer.ejs %>
