<% include partials/header.ejs %>

<div class="main">
<h1>XCuseMe</h1>
</div>

<div class="tabbed-container">
    <div class="tab-buttons">
        <button class="tab-button active">Burger</button>
        <button class="tab-button">Pizza</button>
        <button class="tab-button">Softdrinks</button>
    </div>
    <div class="tabs">
        <div class="tab-content active">
            burger
        </div>
        <div class="tab-content">
            pizza
        </div>
        <div class="tab-content">
            softdrinks
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
