.collection-header {

  text-align: center;
  color: white;

  p {
    font-size: 18px;
    margin: 0;
    padding: 20px 0;
    background-color: #f1c40f;
  }

}

.collection-item {
  position: relative;

  img {
    margin-top: 12px;
  }

  i:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .btn_plus_amount {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .btn_minus_amount {
    position: absolute;
    right: 15px;
    top: 60px;
  }

  .amount {
    position: absolute;
    right: 17px;
    top: 35px;
  }

  .nodisplay {
    display: none;
  }

}

.modal-content {
  text-align: center;
}

li  {
  cursor: pointer;
}

.search {
  margin-bottom: 0 !important;
}

.list {
  margin-top: 0 !important;
}
